*:not(i):not(.fa) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#div-library-hexmap {
  height: 700px;
  width: 100%;
}

#btn-sign {
  display: inline-block;
  margin: 10px;
  text-transform: none;
  font-weight: bolder;
}

.hex-cell {
  stroke: #fff;
  stroke-width: 1px;
}

.hex-label {
  font-weight: bolder;
}

.popup-title {
  font-weight: bolder;
  font-size: 1.2em;
}

.proposed {
  background-color: #fa8c00;
}

.cilip {
  background-color: #09bb9f;
}

.cilips {
  background-color: #f6d500;
}

.keyhex {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 7px 10px;
  font-weight: bolder;
}
